.cards {
    padding: 20px 0px;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  

  .cards__container {
    /* display: flex; */
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    /* position: relative; */
    margin: 50px 0 45px;
  }
  
  .cards__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
     margin-bottom: 24px;
  }

.cards__item{
  /* background-image: url("https://source.unsplash.com/random"); */

    margin-bottom: 10px;
}
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  
  .flip-card {
    background-color: transparnt;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 20px;
     
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-image: url("https://images.unsplash.com/photo-1559825477-6f38d6332bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    justify-content: center;
    align-items: center;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgba(9, 90, 110, 0.541); */
    color: rgb(115, 198, 204);
  }
  .background{
    /* background-image: url("https://source.unsplash.com/random"); */
  }
  .flip-card-back {
    background-image: url("https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

    justify-content: center;
    align-items: center;
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;

    /* background-color: rgba(9, 90, 110, 0.541); */
    color: rgb(30, 163, 152);
    transform: rotateY(180deg);
  }

  h4:hover{
      transform: scale(1.4);
  }